.tile{
	color: #FFF;
	display:block;
	padding:0;
	margin: 0;
	position:absolute;	
	overflow:hidden;
	transition: box-shadow 0.25s ease-out;
	-moz-transition: box-shadow 0.25s ease-out;
	-webkit-transition:  box-shadow 0.25s ease-out;
	-o-transition:  box-shadow 0.25s ease-out;
	-ms-transition:  box-shadow 0.25s ease-out;
	font-weight:normal;
	text-decoration:none;
	box-shadow: 0 0 2px #555;
	-webkit-box-shadow: 0 0 2px #555;
}
.loading>.tile{
	transition: none;
	-moz-transition: none;
	-webkit-transition:  none;
	-o-transition:  none;
	-ms-transition:  none;
}
.tile:visited{
	color:#FFF;
}

.tile:hover{
	text-decoration: none;
	color:#FFF;
	cursor:pointer;
}
.tile img{
	border:none;
}
.tile.noClick:hover{
	cursor:default !important;
	box-shadow: none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	outline:none !important;
}
.tileTitle{
	margin:5px 3px 5px 15px;
	padding: 0px;
	font-size: 28px;
	font-weight:300;
}
.tileDesc{
	margin: 0 12px 0 12px;
	padding: 0;
	font-size: 13px;
	position:absolute;	
}

/*LABELS */
.tileLabelWrapper{
	position:absolute;
	right:0;
	padding:0;
	margin:0;
	height:auto;
	z-index:11;
}
.tileLabel{
	position:relative;
	display:inline-block;
	font-size:13px;	
	text-decoration: none;  
    color: #FFF;
}
.tileLabelDesc{
	border-top:1px solid #999;
	background-color:rgb(140,140,140);
	background-color:rgba(55,55,55,0.6);
	filter:opacity(alpha=0.8);
	color:#CCC;
	padding:3px;
	font-size:12px;
}
.showOnHover{
	display:none;
}
/*BOTTOM LABEL */
.tileLabelWrapper.bottom{
	bottom:0;
	left:0;	
	height:21px;
}
.tileLabel.bottom{	
	position:relative;
	padding: 2px 2px 0px 2px;
	margin-bottom:-4px;  
    border-right: 15px solid transparent;  
    border-bottom: 20px solid #777;    
    height: 0;  
    line-height: 17px;  
}
/* TOP LABEL */
.tileLabelWrapper.top{
	top:0;
	border-left: 15px solid transparent;  
    border-top: 20px solid #777;
	height: 0;
	z-index:15;
}
.tileLabel.top{
	padding: 0px 2px 2px 2px;  
	top:-19px;	 
}

/*Misc tiles */
.tileImg>img{
	position:absolute;
	height:auto;
	top:50%;
	left:50%;
	z-index:1;
}
.tileImg .imgDesc{
	position:relative;
	top:0;
	margin:0;
	bottom:0;
	z-index:2;
	background: rgb(100,100,100);
	background: rgba(70,70,70,0.8);
	border-top:  1px solid #AAA;
	padding:5px;
	font-size:12px;
}
.tileImg>.tileLabelWrapper.top>.imgDesc{
	margin-top:-20px;
}
.tileImg>.tileLabelWrapper>.tileLabel.bottom{
	bottom:-2px;
}
.tileImg>.tileLabelWrapper.bottom{
	height:auto;
}
/* CENTERED TILE */

.tileCentered>.container{
	text-align:center;
	display: table;
	transition:background 200ms;
	width:100%;
	height:100%;
}
.tileCentered>.container>h3{
	display:table-cell;
	position: relative;
	vertical-align: middle;
	font-weight: 300;
	font-size: 36px;
	padding:0 0 8px 0;	
	transition:color 200ms !important;
}

.tileCentered>.container>h3>img{
	position: relative;
	vertical-align: middle;
	top:-5px;
}


/* CENTERED SLIDE TILE*/

.tileCenteredSlide{
	text-align:center;
	overflow: hidden;
}
.tileCenteredSlide>.container1{
	display: table;
	width:100%;
	height:100%;
	position: absolute;
	transition:left 0.3s ,top 0.3s,right 0.3s,bottom 0.3s;

}
.tileCenteredSlide>.container2{
	display: table;
	width:100%;
	height:100%;
	position: absolute;
	transition:left 0.3s,top 0.3s,right 0.3s,bottom 0.3s;
}
.tileCenteredSlide>.container1>h3{
	display:table-cell;
	position: relative;
	vertical-align: middle;
	font-weight: 300;
	font-size: 36px;
	padding:0 0 8px 0;	
	margin:3px;
	transition:color 200ms !important;
}

.tileCenteredSlide>.container2>h5{
	display:table-cell;
	color:#FFF;
	position: relative;
	vertical-align: middle;
	font-weight: 300;
	font-size: 18px;
	padding:0 0 8px 0;	
	margin:3px;
	transition:color 200ms !important;
}

.tileCenteredSlide>.container1>h3>img{
	position: relative;
	vertical-align: middle;
	top:-5px;
}
.tileCenteredSlide.left>.container1{left:0;}
.tileCenteredSlide.left>.container2{left:-100%;}
.tileCenteredSlide.left:hover>.container1{left:100%;}
.tileCenteredSlide.left:hover>.container2{left:-0%;}
.tileCenteredSlide.right>.container1{right:0;}
.tileCenteredSlide.right>.container2{right:-100%;}
.tileCenteredSlide.right:hover>.container1{right:100%;}
.tileCenteredSlide.right:hover>.container2{right:-0%;}
.tileCenteredSlide.top>.container1{top:0;}
.tileCenteredSlide.top>.container2{top:-100%;}
.tileCenteredSlide.top:hover>.container1{top:100%;}
.tileCenteredSlide.top:hover>.container2{top:-0%;}
.tileCenteredSlide.bottom>.container1{bottom:0;}
.tileCenteredSlide.bottom>.container2{bottom:-100%;}
.tileCenteredSlide.bottom:hover>.container1{bottom:100%;}
.tileCenteredSlide.bottom:hover>.container2{bottom:-0%;}