/* DEFAULT THEME */
html{
	font-family:  'Open Sans', Segoe UI light, Tahoma,Helvetica,sans-serif;
	font-size:13px;
	color: #FFF; /* MAIN color for site things, but not for CONTENT!! */
	background-color:#DDD; /* Main background color */
}
body{
	background-color:#DDD; /* Main background color */
}
/*More */
a{	/* links */
	color:#222; /* Main color for links */
	text-decoration:underline;
}
a:hover{
	color: #789600; /*Main color for hovered links */
}
a:active, a:selected, a:visited, a:focus {
 	outline: none;
	border:none;
}
em{
	margin-right:2px;
}
/* HEADINGS */
h1{
	font-size:38px;
	font-weight:300;
	margin:20px 0 0px 0;
	color:#222;
}
h2{
	font-size:30px;
	font-weight:300;
	margin:20px 0 2px 0;
	color:#222;
}
h3{
	font-size:22px;
	font-weight:normal;
	margin:20px 0 2px 0;
	color:#444;
}
h4{
	font-size:20px;
	font-weight:300;
	margin:15px 0 2px 0;
	color:#444;
}
h5{
	font-size:18px;
	font-weight:normal;
	margin:13px 0 2px 0;
	color:#444;
}
h6{
	font-size:16px;
	font-weight:normal;
	margin:10px 0 2px 0;
	color:#444;
}
/*CONTENT */
.display-block { display: block; }
.margin-0 { margin: 0; }
.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-t-20 { margin-top:20px;}
.margin-t-40 { margin-top:40px;}
.margin-b-20 { margin-bottom:20px;}
.margin-b-40 { margin-bottom:40px;}
/* Fluid images and objects */
.size-auto {
	max-width: 100%;
	height: auto;
}
/* Block Alignment*/
.align-left{
	display: block;
	float: left;
	text-align:left;
}
.align-right{
	display: block;
	float: right;
	text-align:right;
}
.align-center{
	display: block;
	text-align:center;
	margin: auto;
}
/* Text Alignment */
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
/* Text color */
.white{
	color:#FFF;
}
.grey{
	color:#333;
}
/*Weight */
.weight-lighter{font-weight:lighter;}
.weight-normal{font-weight:normal;}

/* NAVIGATION */
.navItem{ /* main nav on top */
	height:70px;
	width:90px;
	background-color:#555;
	color:#FFF;
	font-size:14px;
	text-align:center;	
	border:1px solid #666;
	text-decoration:none;
}
.navItem:hover{
	color:#000;
	background-color:#888;
}
.navItem img{
	margin:10px 10px 3px 10px;
	height:32px;
}
.navActive{
	background-color:#F90;
	-moz-box-shadow: 0 0 2px #fff;
	-webkit-box-shadow: 0 0 2px #fff;
	box-shadow: 0 0 2px #fff;
}
.navActive:hover{
	background-color:#F60;
}

/* Subnav, on each page */
#subNav a{	
	font-size:14px;
	color:#FFF;
}
#subNav a:hover{
	color:#FFF;
}
.subNavItemActive{
	padding: 3px 7px 2px 7px !important;
	border:1px #FFF solid;
	border-top: none;
	box-shadow: 0px 2px 5px 2px #999 ;
	-o-box-shadow: 0px 2px 5px 2px #999 ;
	-ms-box-shadow: 0px 2px 5px 2px #999 ;
	-moz-box-shadow: 0px 2px 5px 2px #999 ;
	-webkit-box-shadow: 0px 2px 5px 2px #999 ;
}
/*FORMS */
fieldset{
	border:1px solid #999;
	margin: 10px 0;
	padding:10px;
}
legend{
	background-color:#777;
	color:#FFF;
	font-weight:bold;
	padding:1px 3px;
	font-size:12px;
}
label{
	margin-left:10px;
}
textarea{
	font-family:  'Open Sans', Segoe UI, Tahoma,Helvetica,sans-serif;
	overflow:auto;
}
input,select,textarea{
	margin:3px 3px 3px 10px;
}
input[type=button]{
	background-color:#777;
	border:1px solid #FFF;
	color:#FFF;
	padding:2px 5px;
}
input[type=button]:hover{
	background-color:#999;	
}
/* BUTTONS */
.orangeButton, button{
	 border:1px solid #FFF;
	 background-color:#F60;
	 color: #FFF;
	 padding:2px 5px;
	 margin: 5px 3px 3px 3px;
}
.orangeButton:hover, button:hover{background-color:#F90;cursor:pointer;}
.greenButton{background-color:#789600;}
.greenButton:hover{background-color:#607800;}
.redButton{background-color:#C33;}
.redButton:hover{background-color:#F60;}
.blueButton{background-color:#426EA0;}
.blueButton:hover{background-color:#688BB3;}
.greyButton{background-color:#444;}
.greyButton:hover{background-color:#888;}

/* SLIDES (show a title, and when clicked on the content shows with a nice slide animation) */
div.sliderContent{
	padding: 10px;
}
div.sliderHead h2{
	font-size:26px;
	display:inline;
	margin:0;
	padding:0;
}
div.sliderHead h2:hover{
	cursor:pointer;
	color:#789600;
}
img.sliderImage{
	height:24px;
	width:24px;
	vertical-align:middle;
	margin-top:-12px;
	margin-right: 10px;
}

/* MISC, used on pages, you can remove it if you don't need it */
pre{
	padding: 15px;
	background-color:#444;
	color:#FFF;
	overflow-x:auto;
}
blockquote{
	padding: 10px;
	border-left:1px solid #F60;
	font-style:italic;
	font-size:14px;
}
.highlight{background-color:#F90;}
.underlineDotted{border-bottom:#F60 2px dotted;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
mark{background-color:#F90;}
abbr,dfn{border-bottom:1px #333 dotted;}

/* HR */
hr{
	border:none;
	border-top:1px solid #555;
	margin-bottom:15px;
	margin-top:2px;
}
hr.dotted { border-top:1px #666 dashed; }
hr.light{border-color:#999;}

/*Boxes */
.box-content, .box-note {margin: 15px 0;padding: 15px;text-align: justify; }
.box-info,
.box-warning,
.box-hint,
.box-download { margin: 15px 0;text-align: justify;padding: 10px 10px 10px 40px;color:#FFF; border: 1px solid; }
.box-note{background-color:#FFF; border:1px solid #F60;color:#333;}
.box-info { background:#3B659C url(../../img/icons/box_info.png) 0 0 no-repeat; border-color:#355782; }
.box-warning { background:#C33 url(../../img/icons/box_warning.png) 0 0 no-repeat;border-color:#9E1818; }
.box-hint {background: #E85D00 url(../../img/icons/box_hint.png) 0 0 no-repeat;border-color: #D15604;}
.box-download {background: #668000 url(../../img/icons/box_download.png) 0 0 no-repeat;border-color: #4B5E00;}
.box-content{background:#555;color:#FFF;}
/*TABLE*/
.table table,tr,td,th{
	margin:0;
	border:none;
}
.table{
	border:1px solid #666;
	border-top:none;
}
.table td,th{
	padding:5px;
}
.table thead{
	font-weight:bold;
	background-color:#666;
	border-bottom:1px solid #DDD;
	color:#FFF;
}
.table tfoot{
	font-style:italic;
}
.table tr.dark,th.dark{
	background-color:#BBB;
}
/* DEFINITION LIST */
dl.separator dt {	
	width: 150px;
	padding-right: 10px;
	float: left;
	clear: both;
}
dl.separator dd {
	margin-left: 160px;
	padding: 5px 0 5px 20px;
	border-left: 1px solid #999;
}
dl.separator dt {	
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
}
dl.separator dt:before {
	content: "";
	position: absolute;
	top: 0;
	right: -15px;
	width: 30px;
	border-top: 1px solid #999;
}
dl.separator dt:after {
	content: "";
	position:absolute;
	top: -2px;
	right: -3px;
	width: 3px;
	height: 3px;
	background: #999;
	border: 1px solid #999;
}
dl.separator dt:first-child:before,
dl.separator dt:first-child:after { display: none; }

/* BODY PARTS */
#headerWrapper{/* the header on top */
	background-color:#333;
	border-bottom:1px #999 solid;	
	/*box-shadow:0 0 5px #555;*/
}
#header h1 a{/*the big header text */
	color:#FFF;
	font-size:46px;
	text-decoration:none;
}
#header h1 a:hover{
	color:#F90;
}
#header h2{/*the smaller title */
	font-size:16px;
	color:#CCC;
}
.groupTitle h3{ /* The tilegroup title on the homepage*/
	font-size: 24px;
}
.groupTitle h3:hover{ /* The tilegroup title on the homepage*/
	color:#F60;
}
#content{ /* the content */
	color:#111;
}
.pageContent{ /*Loaded when a subpage is shown */
	background: rgb(212, 212, 212); /* default fallback */
	background: rgba(180, 180, 180, 0.2); /* nice browsers */
	box-shadow: 0 0 7px #777;
	-moz-box-shadow: 0 0 7px #777;
	-webkit-box-shadow: 0 0 7px #777;
}
#footer{
	color:#222;
	font-size:10px;
	background-color:#CCC;
	border-top:1px solid #999;
	border-left:1px solid #999;
}
a#goToMobile{ /* Will be displayed when a mobile phone is visiting the normal site */
	background:#789600;
	color:#FFF;
	padding:3px;
}