/*
All custom CSS here
*/

html {
	font-family: "Open Sans", "Segoe UI", Verdana;
}

#headerCenter {
	width: 85%;
}

#headerWrapper {
	background-color: rgba(60, 60, 60, 1);
}

nav>a, #navItems>a {
	width: 85px;
}

nav>a:hover {
	background-color: rgba(31, 124, 31, 0.6);
}

footer {
	position: relative;
	float: right;
	right: -50%;
	border-right: 1px solid #999;
	padding-bottom: 5px;
	background-color: rgba(70, 70, 70, 1);
}

#footer_outer {
	float: right;
	right: 50%;
	position: relative;
}

#footer_container {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

#logo {
	position: relative;
	float: left;
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	margin-left: 5%;
	padding-right: 10px;
	padding-top: 10px;
}
